<% layout('layouts/boilerplate') %>


    <div class="row mb-3">
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= foundCamp._id %>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title: </label>
                    <input type="text" class="form-control" id="title" name="campground[title]"
                        value="<%= foundCamp.title %>">
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location: </label>
                    <input type="text" class="form-control" id="location" name="campground[location]"
                        value="<%= foundCamp.location %>">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Url: </label>
                    <input type="text" class="form-control" id="image" name="campground[image]"
                        value="<%= foundCamp.image %>">
                </div>

                <label for="price" class="form-label">Price: </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input id="price" name="campground[price]" type="text" class="form-control" placeholder="0.00"
                        value="<%= foundCamp.price %>">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <textarea name="campground[description]" class="form-control" id="description" rows="3">
                        <%= foundCamp.description %>
                    </textarea>
                </div>
                <button class="btn btn-primary">Save changes<button>
            </form>
        </div>
    </div>