<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= foundCamp.title %>
    </title>
</head>

<body>
    <h1>
        <%= foundCamp.title %>
    </h1>
    <h2>
        <%= foundCamp.location %>
    </h2>

    <p>
        <a href="/campgrounds">
            back to home
        </a>
    </p>
    <p>
    <form action="/campgrounds/<%= foundCamp._id %>?_method=delete" method="POST">
        <button>
            Delete campground
        </button>
    </form>
    </p>
    <a href="/campgrounds/<%= foundCamp._id %>/edit">edit camp</a>
</body>

</html>