<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <!-- array.forEach(function(currentValue, index, arr), thisValue) -->
                        <% foundCamp.images.forEach((img, index)=> { %>
                            <div class="carousel-item <%= index === 0?'active': '' %>">
                                <img src="<%= img.url %>" class="d-block w-100" alt="">
                            </div>
                            <% }) %>
                                <% if (foundCamp.images.length>1) { %>

                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <% } %>
                    </div>
                </div>


                <div class="card-body">
                    <h5 class="card-title">
                        <%= foundCamp.title %>
                    </h5>
                    <p class="card-text">
                        <%= foundCamp.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt-fill pb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                        </svg>
                        <%= foundCamp.location %>
                    </li>
                    <li class="list-group-item">
                        By:
                        <%= foundCamp.author.username %>
                    </li>
                    <li class="list-group-item">$ <%= foundCamp.price %>
                    </li>
                </ul>

                <% if (currentUser && foundCamp.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/campgrounds/<%= foundCamp._id %>/edit" class="btn btn-info text-white">
                            edit camp
                        </a>
                        <form class="d-inline" action="/campgrounds/<%= foundCamp._id %>?_method=delete" method="POST">
                            <button class="btn btn-danger">
                                Delete campground
                            </button>
                        </form>
                    </div>
                    <% } %>

                        <div class="card-footer mb-3">
                            2 days ago
                        </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3" id='map' style='width: 100%; height: 300px;'></div>

            <% if (!currentUser) { %>
                <h3>Sign in to create reviews!</h3>
                <% } %>
                    <% if (currentUser) { %>
                        <h3 class="mb-3">Leave a review!</h3>
                        <form action="/campgrounds/<%=foundCamp._id %>/reviews" class="mb-3 needs-validation"
                            method="POST" novalidate>
                            <!-- <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input class="form-range" id="rating" name="review[rating]" type="range" max="5" min="1">
                    </div> -->
                            <fieldset class="starability-basic">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />

                                <input type="radio" id="rate1" name="review[rating]" value="1" />
                                <label for="rate1">1 star.</label>

                                <input type="radio" id="rate2" name="review[rating]" value="2" />
                                <label for="rate2">2 stars.</label>

                                <input type="radio" id="rate3" name="review[rating]" value="3" />
                                <label for="rate3">3 stars.</label>

                                <input type="radio" id="rate4" name="review[rating]" value="4" />
                                <label for="rate4">4 stars.</label>

                                <input type="radio" id="rate5" name="review[rating]" value="5" />
                                <label for="rate5">5 stars.</label>

                                <span class="starability-focus-ring"></span>
                            </fieldset>

                            <div class="mb-3">
                                <label for="body" class="form-label">Review</label>
                                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                                    placeholder="Add a review.." required></textarea>
                            </div>
                            <button class="btn btn-success">Done!</button>
                        </form>
                        <% } %>

                            <% for(let review of foundCamp.reviews) { %>
                                <div class="card mb-3 ">
                                    <div class="card-body">
                                        <!-- <h5 class="card-title">Rating: <%= review.rating %>
                            </h5> -->
                                        <h5 class="card-title">~<%= review.author.username %>
                                        </h5>
                                        <p class="starability-result" data-rating="<%= review.rating %>">

                                        </p>
                                        <p class="card-text">Review: <%= review.body %>
                                        </p>
                                        <% if (currentUser && review.author.equals( currentUser._id)) { %>
                                            <form
                                                action="/campgrounds/<%=foundCamp._id %>/reviews/<%= review._id %>?_method=Delete"
                                                method="POST">
                                                <button class="btn btn-danger">
                                                    Delete
                                                </button>
                                            </form>
                                            <% } %>
                                    </div>
                                </div>
                                <% } %>
        </div>

    </div>

    <script>
        // this runs on the server side. as soon as it sees any ejs, it removes the ejs bracketed code and replaces it with values
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campId = '<%- foundCamp._id %>'
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/javascripts/showPageMap.js"></script>