<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= foundCamp.image %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= foundCamp.title %>
                    </h5>
                    <p class="card-text">
                        <%= foundCamp.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt-fill pb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                        </svg>
                        <%= foundCamp.location %>
                    </li>
                    <li class="list-group-item">$ <%= foundCamp.price %>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= foundCamp._id %>/edit" class="btn btn-info text-white">
                        edit camp
                    </a>
                    <form class="d-inline" action="/campgrounds/<%= foundCamp._id %>?_method=delete" method="POST">
                        <button class="btn btn-danger">
                            Delete campground
                        </button>
                    </form>
                </div>
                <div class="card-footer">
                    2 days ago
                </div>
            </div>
        </div>
    </div>